

  
 
  #passLengthh{
    left: 230px;
  }

  
body {

    margin:auto;
    background-image: url(giphy.gif);
    background-size: cover;   
}

h3{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 10px;
    top: 108px;
    margin-top: 110px;
}
#submit{
font-family: "Karla";
color:  #FFFFFF;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 50px;
height: 30px;
left: 300px;
top: 243px;

background: #10B981;
}
input{
font-family: "Karla";
color:  #FFFFFF;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 50px;
height: 30px;
left: 280px;
top: 243px;

background: #10B981;
/* shadow/sm */


border-radius: 6px;
}
#passLength{
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-size: 20px;
    color: #10B981;
    position: absolute;
    left: 10px;
    top: 115px;
    margin-top: 130px;

}
#passLengthh{

}
#pass2{
color:  #FFFFFF;
background: #273549;
border-radius: 6px;
color: 
#55F991;
position: absolute;
width: 150px;
height: 40px;
left: 210px;
top: 350px;
border-style: none;

background: #273549;
border-radius: 6px;
}
#pass1{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 10px;
    top: 350px;

    background: #273549;
    border-radius: 6px;
    color:  #FFFFFF;
    background: #273549;
    border-radius: 6px;
    color:#55F991;
    border-style: none;
}
h1{ 
text-shadow: 5px 5px black;
position: absolute;
width: 354px;
height: 80px;
left: 10px;
top: 115px;
font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;

letter-spacing: -0.025em;

color: #FFFFFF;
}
#inner{
    margin-top: 60px;
    color: #4ADF86;

}

button{
font-family: "Karla";
color:  #FFFFFF;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 191px;
height: 42px;
left: 10px;
top: 284px;

background: #10B981;
/* shadow/sm */


border-radius: 6px;
}
#gen-pass{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

@media (max-width:500px ) {
    .column {
      width: 50%;
    }
    body{
        background: url(giphy.gif);
    }
    
    h1{
        font-size: 35px;
    }
    #inner{
        font-size: 35px;
    }
    h3{
        font-size: 15px;
    }
    #passlengthh{
        width: 30px;
        height: 30px;
    }
    #pass1{
        width: 120px;
        height: 40px;
    }
    #pass2{
        width: 120px;
        height: 40px;
        left: 150px;
    }
    #submit{
        width: 30px;
        height: 30px;
        font-size: small;
        left: 280;
    }
}
