*{
    margin: 0;
    padding: 0;
}
.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      
    }
  }
body {
    margin: auto;
    background-color:  #1F2937;
}
#rnd{
    color: #10B981;
}
h3{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 52px;
    top: 108px;
    margin-top: 110px;
}
#submit{
font-family: "Karla";
color:  #FFFFFF;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 50px;
height: 30px;
left: 350px;
top: 243px;

background: #10B981;
}
input{
font-family: "Karla";
color:  #FFFFFF;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 50px;
height: 30px;
left: 280px;
top: 243px;

background: #10B981;
/* shadow/sm */


border-radius: 6px;
}
#passLength{
    margin-top: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #10B981;
    position: absolute;
    left: 52px;
    top: 115px;
    margin-top: 130px;

}
#passLengthh{

}
#pass2{
color:  #FFFFFF;
background: #273549;
border-radius: 6px;
color: 
#55F991;
position: absolute;
width: 150px;
height: 40px;
left: 287px;
top: 350px;

background: #273549;
border-radius: 6px;
}
#pass1{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 52px;
    top: 350px;

    background: #273549;
    border-radius: 6px;
    color:  #FFFFFF;
    background: #273549;
    border-radius: 6px;
    color:#55F991;
}
h1{ 
position: absolute;
width: 354px;
height: 80px;
left: 52px;
top: 115px;
font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;

letter-spacing: -0.025em;

color: #FFFFFF;
}
#inner{
    margin-top: 60px;
    color: #4ADF86;

}

button{
font-family: "Karla";
color:  #FFFFFF;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 191px;
height: 42px;
left: 52px;
top: 284px;

background: #10B981;
/* shadow/sm */


border-radius: 6px;
}
#gen-pass{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
